/* Navbar.css */
.navbar {
  background-color: #343a40; /* Color oscuro de fondo */
  padding: 15px; /* Espaciado interno */
}

.navbar-left {
  display: flex; /* Usar flexbox para alinear el logo y el título */
  align-items: center; /* Alinear verticalmente el logo y el título */
}

.logo {
  height: 50px; /* Ajustar la altura del logo */
  margin-right: 15px; /* Espacio entre el logo y el título */
}

h1 {
  color: #ffffff; /* Color del texto */
  font-size: 24px; /* Tamaño de fuente */
}
